[submodule "backend"]
	path = backend
	url = https://github.com/wemaketutor/TutorasSecure.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/wemaketutor/frontend.git
	branch = main
