# See https://caddyserver.com/docs

{
    servers {
        metrics
    }
}

{$DOMAIN_NAME} {
	# HTTPS options:
	header Strict-Transport-Security max-age=31536000;

	# Removing some headers for improved security:
	header -Server

    handle {
        reverse_proxy /api/* backend:8000/api/*
        reverse_proxy /monitoring/* grafana:3000
        reverse_proxy /metrics/* prometheus:9090
        reverse_proxy frontend:5173
    }

	encode gzip

	log {
		output stdout
	}
}
